name: "Run Tests (Reusable)"
on:
  workflow_call:

jobs:
  update_docs:
    name: "Unit Tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run Tests
        run: |
          echo "RUN TESTS"